<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous'>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='{{ url_for('static', filename='/css/style.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='/js/script.js') }}'>
    <title>Recipes Edit</title>
</head>
<body>
    <div class="container row justify-content-center mx-auto mt-2">
        <div class="row">
            <h1 class="p-0 col-6">Edit Recipe {{recipe.id}}</h1>
            <a href="/dashboard" class="btn btn-secondary offset-2 col-2" style="height: 70%;">Dashboard</a>
            <a href="/user/logout" class="btn btn-secondary offset-1 col-1" style="height: 70%;">Logout</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <form action="/recipes/edit/{{recipe.id}}/process" method="post" class="card col-12 mx-auto bg-secondary text-white p-3">
                    <div class="row">
                        <div class="col-4 offset-1">
                            <div class="form-group mb-3">
                                <label for="name" class="form-label">Name:</label>
                                {% for category, message in messages if category == "name" %}
                                    <input type="text" name="name" id="name" class="form-control is-invalid" value="{{recipe.name}}">
                                    <div class="alert alert-danger card invalid-feedback mx-0 mb-0 p-1 text-center">{{message}}</div>
                                {% else %}
                                    <input type="text" name="name" id="name" class="form-control" value="{{recipe.name}}">
                                {% endfor %}
                            </div>
                            <div class="form-group mb-3">
                                <label for="description" class="form-label">Description:</label>
                                {% for category, message in messages if category == "description" %}
                                    <textarea name="description" id="description" class="form-control is-invalid">{{recipe.description}}</textarea>
                                    <div class="alert alert-danger card invalid-feedback mx-0 mb-0 p-1 text-center">{{message}}</div>
                                {% else %}
                                    <textarea name="description" id="description" class="form-control">{{recipe.description}}</textarea>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-3">
                                <label for="instructions" class="form-label">Instructions:</label>
                                {% for category, message in messages if category == "instructions" %}
                                    <textarea name="instructions" id="instructions" class="form-control is-invalid">{{recipe.instructions}}</textarea>
                                    <div class="alert alert-danger card invalid-feedback mx-0 mb-0 p-1 text-center">{{message}}</div>
                                {% else %}
                                    <textarea name="instructions" id="instructions" class="form-control">{{recipe.instructions}}</textarea>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="offset-2 col-4">
                            <div class="form-group mb-3">
                                <label for="date_made" class="form-label">Date Made On:</label>
                                {% for category, message in messages if category == "date_made" %}
                                    <input type="date" name="date_made" id="date_made" class="form-control is-invalid" value="{{recipe.date_made}}">
                                    <div class="alert alert-danger card invalid-feedback mx-0 mb-0 p-1 text-center">{{message}}</div>
                                {% else %}
                                    <input type="date" name="date_made" id="date_made" class="form-control" value="{{recipe.date_made}}">
                                {% endfor %}
                            </div>
                            <p class="form-label">Under 30 Minutes?:</p>
                            {% for category, message in messages if category == "under_30" %}
                                <div class="form-check-inline">
                                    <input type="radio" name="under_30" id="under_30" value="1" class="form-check-input is-invalid" {% if recipe.under_30 == 1 %}checked{% endif %}>
                                    <label for="under_30" class="form-label">Yes</label>
                                </div>
                                <div class="form-check-inline">
                                    <input type="radio" name="under_30" id="under_30" value="0" class="form-check-input is-invalid" {% if recipe.under_30 == 0 %}checked{% endif %}>
                                    <label for="under_30" class="form-label">No</label>
                                </div>

                                <div class="alert alert-danger card invalid-feedback mx-0 mb-0 p-1 text-center">{{message}}</div>
                            {% else %}
                                <div class="form-check-inline">
                                    <input type="radio" name="under_30" id="under_30" value="1" class="form-check-input" {% if recipe.under_30 == 1 %}checked{% endif %}>
                                    <label for="under_30" class="form-label">Yes</label>
                                </div>
                                <div class="form-check-inline">
                                    <input type="radio" name="under_30" id="under_30" value="0" class="form-check-input" {% if recipe.under_30 == 0 %}checked{% endif %}>
                                    <label for="under_30" class="form-label">No</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-2 border border-1">Update</button>
                </form>
            {% else %}
                <form action="/recipes/edit/{{recipe.id}}/process" method="post" class="card col-12 mx-auto bg-secondary text-white p-3">
                    <div class="row">
                        <div class="col-4 offset-1">
                            <div class="form-group mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" name="name" id="name" class="form-control" value="{{recipe.name}}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="description" class="form-label">Description:</label>
                                <textarea name="description" id="description" class="form-control">{{recipe.description}}</textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="instructions" class="form-label">Instructions:</label>
                                <textarea name="instructions" id="instructions" class="form-control">{{recipe.instructions}}</textarea>
                            </div>
                        </div>
                        
                        <div class="offset-2 col-4">
                            <div class="form-group mb-3">
                                <label for="date_made" class="form-label">Date Made On:</label>
                                <input type="date" name="date_made" id="date_made" class="form-control" value="{{recipe.date_made}}">
                            </div>
                            <p class="form-label">Under 30 Minutes?:</p>
                            <div class="form-check-inline">
                                <input type="radio" name="under_30" id="under_30" value="1" class="form-check-input" {% if recipe.under_30 == 1 %}checked{% endif %}>
                                <label for="under_30" class="form-label">Yes</label>
                            </div>
                            <div class="form-check-inline">
                                <input type="radio" name="under_30" id="under_30" value="0" class="form-check-input" {% if recipe.under_30 == 0 %}checked{% endif %}>
                                <label for="under_30" class="form-label">No</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-2 border border-1">Update</button>
                </form>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>

